<strong><%= @cached_label_date %></strong>: <%= @tooltip_workload[:date] %><br/>
<strong><%= @cached_label_user_capacity %></strong>: <%= format_number(@tooltip_workload[:user_capacity]) %> h<br/>
<strong><%= @cached_label_planned_capacity %></strong>: <%= format_number(@tooltip_workload[:measure][:planned_capacity]) %> h<br/>
<strong><%= @cached_label_free_capacity %></strong>: <%= format_number(@tooltip_workload[:measure][:free_capacity]) %> h<br/>
<strong><%= @cached_label_workload %></strong>: <%= format_number(@tooltip_workload[:measure][:workload]) %> %<br/>
<strong><%= @cached_label_availability %></strong>: <%= format_number(@tooltip_workload[:measure][:availability]) %> %<br/>

<% unless @issues.empty? && @overdue_issues.empty? %>
  <% issues_count = @issues.count + @overdue_issues.count %>
  <% collapsed = issues_count > 10 %>
  <br/>
  <fieldset class='collapsible <%= collapsed ? 'collapsed' : '' %>'>
    <legend onclick='toggleFieldset(this)'><%= issues_count %> <%= issues_count > 1 ? @cached_label_issues : @cached_label_issue %></legend>
    <div style='<%= collapsed ? 'display: none;' : '' %>'>
      <ul>
      <% @overdue_issues.each do |issue| %>
        <li><%= @cached_label_overdue %>: <%= workload_issue_line(issue) %></li>
      <% end %>
      <% @issues.each do |issue| %>
        <li><%= workload_issue_line(issue) %></li>
      <% end %>
      </ul>
    </div>
  </fieldset>
<% end %>
